html, body{
    width:100%;
    height:100%;
    padding: 0px!important;
    margin: -10px 0px 0px 0px!important;
font-family: 'Crimson Text', serif;

}
body.Olayout {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
 {
   width: 300px!important;
}

 a{
    text-decoration:none;
}

textarea{
    height: 130px!important;
    padding:10px;
}

.home_wrap{
    background:url('../images/w_bg2_1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0px 30px;
}

.home_wrap .home_middle{
     width: 472px;
    margin:0px auto;
    padding:260px 0px 340px 0px;
    
}

.home_wrap .home_middle a{
    color:wheat;
    background:#002639;
    padding:20px 50px;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-left:10px;
margin-right:10px;
border:1px solid #002639;
    font-size: 30px;
text-transform:lowercase;
}


.home_wrap header{
    padding-top: 30px;

}
.home_wrap header .homeU_left{
    float:left;
    width:auto;
}

.home_wrap header .homeU_left img{
        width:100px;

}

.home_wrap header .homeU_right{
    float:right;
        width:auto;
        margin-top:5px;
}

.home_wrap header .homeU_right a{
        font-size: 19px;
    color: #012639;
    font-weight: bold;
        text-transform: lowercase;

}

.clear{
   clear: both;
}

.home_middle a.join{
    display:block;
    text-align:center;
    margin-top: 30px;
    border:0px;    color:wheat;
    background:#005572;
    padding:5px;
        font-size: 23px;

}

#loginForm {
    padding-top: 50px;
    padding-bottom:320px;
    color:#012639;
}

#loginForm h2{
    text-align:center;
}
#loginForm form {
    border: 1px solid #ddd;
    width: 500px;
    margin:0px auto;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    padding-bottom: 50px;

}
#loginForm .checkbox{
    padding-bottom:30px;
}

#logoutForm .navbar-right li:first-child, #registerLink{
    display:none;
}

.navbar-nav > li > a{
 padding-top: 6px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

#loginForm .form-horizontal .control-label {
    text-align: left;
    width: 100%;
        padding-left: 0px;
}

#loginForm input{
    width:100%!important;
}

#loginForm .checkbox input{
    display: inline-block;
    width: 20px!important;
    margin-right: 5px;
}

#loginForm .form-horizontal .form-group{
    margin:0px;
        padding: 0px 35px;

}