html, body{
    width:100%;
    height:100%;
    padding: 0px!important;
    margin: -10px 0px 0px 0px!important;
    font-family: 'Crimson Text', serif;
    transition: all ease .5s;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
        font-family: 'Crimson Text', serif;
}
a{
    text-decoration:none!important;
}
body.Olayout {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
 {
   width: 300px!important;
}

 a{
    text-decoration:none;
}

textarea{
    height: 130px!important;
    padding:10px;
}

.home_wrap{
    background:url('../images/w_bg2_1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0px 30px;
}

.home_wrap .home_middle{
    width: 480px;
    margin:0px auto;
    padding:260px 0px 340px 0px;
    
}

.home_wrap .home_middle a{
    color:wheat;
    background:#002639;
    padding:20px 50px;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-left:10px;
margin-right:10px;
border:1px solid #002639;
    font-size: 30px;
text-transform:lowercase;
}


header{
    padding-top: 30px;

}
header .homeU_left{
    float:left;
    width:auto;
}

header .homeU_left img{
        width:100px;

}

header .homeU_right{
    float:right;
        width:auto;
        margin-top:5px;
}
header .homeU_right a{
        font-size: 16px;
    color: #012639;
        text-transform: lowercase;
        
    padding: 0px 10px;

}

.clear{
   clear: both;
}

.home_middle a.join{
    display:block;
    text-align:center;
    margin-top: 30px;
    border:0px;    color:wheat;
    background:#005572;
    padding:5px;
        font-size: 23px;

}

#loginForm {
    padding-top: 50px;
    padding-bottom:320px;
    color:#012639;
}

#loginForm .reg .btn-default{
    margin-top:10px!important;
    background:#012639!important;
    transition:all ease .5s;
}

.btn-default{
        margin-top:10px!important;
    background:#012639!important;
    transition:all ease .5s;
    color:white;
        padding: 10px 0px;
}

 #loginForm .reg .btn-default:hover{
    background:#fdb327 !important;
    color:#012639!important;
}

 .btn-default:hover{
    background:#fdb327 !important;
    color:#012639!important;
}
#loginForm h2, #loginForm h4{
    text-align:center;
}
#loginForm form {
    border: 1px solid #ddd;
    width: 500px;
    margin:0px auto;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    padding-bottom: 50px;

}
#loginForm .checkbox{
    padding-bottom:30px;
}

#logoutForm .navbar-right li:first-child, #registerLink{
    display:none;
}

.navbar-nav > li > a{
 padding-top: 6px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

#loginForm .form-horizontal .control-label {
    text-align: left;
    width: 100%;
        padding-left: 0px;
}

#loginForm input{
    width:100%!important;
}

#loginForm .checkbox input{
    display: inline-block;
    width: 20px!important;
    margin-right: 5px;
}

#loginForm .form-horizontal .form-group{
    margin:0px;
        padding: 0px 35px;

}
.gen_interior .int_content{
padding: 0px 30px 300px 30px;}
.gen_interior header{

    padding: 6px 30px 0px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0px 20px;
    border-radius: 5px;
    position: relative;
    top: 30px;
    /* border-bottom: 1px solid #012639; */
}
.gen_interior nav ul{
    list-style:none;
        display:inline-block;

}
.gen_interior nav li{
    display:inline-block;
}

.gen_interior nav li.log{
    position: relative;
    top: 4px;
}
}

.gen_interior .cat {
    width: 996px;
    margin: 0px auto;
}
.gen_interior .cat ul{
    width: 1128px;
    margin: 0px auto;}
.gen_interior .cat li{
    display:inline-block;
    width: 205px;    
    float:left;
    text-align:center;
}
.gen_interior .cat a{
    padding:20px 0px;
    color:#005572;
    margin:0px 0px 10px 0px;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
display:inline-block;
font-size:21px;
transition:all ease .5s;

}

    .gen_interior .cat a:hover {
        color:#fdb327;
    }
    .gen_interior h2 {
        text-align: center;
        font-size: 50px;
        padding-bottom: 30px;
            padding-top: 65px;
                width: 442px;
    margin: 0px auto;
        border-bottom: 2px solid #fdb327;
margin-bottom: 20px;    }
    .gen_interior {
        background:url(../images/bg-1.png);
    }

    .conTrade a{
    padding: 9px 10px;    text-align: center;
    color: #fff;
    background: #012639;
    width: 276px;
    margin: 0px auto;
    display: block;
    font-size: 24px;
    margin-bottom:100px;
    transition:all ease .5s;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    }

    .conTrade a:hover{
        background:wheat;
   color:#002639;
    }


    .gen_interior .conTrade h4{
        font-size:22px;
    } 
     .gen_interior .conTrade table{
padding-bottom:22px;

     } 

     .gen_interior .form-horizontal{
             width: 442px;
                 margin: 0px auto;
     }

    .jobitem li{
         list-style:none!important;
     }
    .jobitem button a{
        background:#012639;
        color:white;
        font-size:20px;
        padding:10px 20px;
        display:block;
        margin:5px auto;
        transition:all ease .5s;
    }

    .jobitem button a:hover {
        background:#fdb327;
        color:#012639;
    }

    .jobitem button{
        background:transparent;
        border:0px;
        margin:0px auto;
        width:100%;
    }

 
    .jobitem ul{
        padding:30px;
        list-style:none!important;
border: 2px solid #012639;        width: 300px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
            color: #002639;
                display: inline-block;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    min-height: 331px;

    }

    .jobitem .title{
        font-size:16px;
        text-transform:uppercase;
    }
.jobitem .content a{
                color: #002639;

}

    .jobitem .content{
            padding: 0px 0px 10px 0px;
    margin-bottom: 10px;
    border-bottom:1px solid #012639;
    }

    .jobitem li.content:last-child{
        border:0px;
        padding:0px;
        margin:0px;
    }
    .bio{
        margin-top:80px;
    }

     .bio li{
         list-style:none!important;
     }
    .bio button a{
        background:#012639;
        color:white;
        font-size:20px;
        padding:10px 20px;
        display:block;
        margin:5px auto;
        transition:all ease .5s;
    }
    .conTrade li{
                 list-style:none!important;

    }
     .conTrade ul{
        padding:5px 0px;
        list-style:none!important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
            color: #002639;
                display: block;
                font-size:17px;

    }

    .bio button a:hover {
        background:#ddd;
        color:#012639;
    }

    .bio button{
        background:transparent;
        border:0px;
        margin:0px auto;
        width:100%;
    }

 
    .bio ul{
        padding:5px 0px;
        list-style:none!important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
            color: #002639;
                display: block;
                font-size:17px

    }

    .bio .title{
        font-size:16px;
        text-transform:uppercase;
    }

    .bio .content{
            padding: 0px 0px 10px 0px;
    margin-bottom: 10px;
    border-bottom:1px solid #ddd;
    }

    .bio li.content:last-child{
        border:0px;
        padding:0px;
        margin:0px;
    }

    .gen_interior .bio h3{
        border-bottom:2px solid #ddd;

    }
    .gen_interior .bio .table tbody > tr > th{
        border-top:0px!important;
        border-bottom:1px solid #dddddd!important;
    }

    .home_wrap h3{
            width: 621px;
    display: block;
    margin: 0px auto;
    position: relative;
    top: 207px;
        font-size: 37px;
    }