@{
    ViewBag.Title = "Home Page";

}


<div class="home_wrap">
    <header>
        <div class="homeU_left">
            <img src="../../images/logo.png" />
        </div>
        <div class="homeU_right">
            @Html.Partial("_LoginPartial")


            @*<a href="../Account/Login?">log in</a>*@
        </div>
    </header>
    <h3>Trade your skills with other professionals</h3>

    <div class="home_middle">
        <a href="~/Jobs/Create">Post A Job</a>
        <a href="~/Categories/Cat"">Open Jobs</a>
        <div class="clear"></div>

        <a class="join" href="/Account/Register">Sign Up</a>
    </div>
</div>

<script>
</script>
